* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-position: center;

}

.row {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 4rem 0;
}

/******************************* HEADER ********************************/

.navbar {
    background-color: black;
    height: 2.5rem;
    width: auto;
}

.nav {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: .6rem;
    justify-content: space-between;
}

.gradient {
    background-image: linear-gradient(to bottom right,rgba(200, 25, 25, 0.7), rgba(0, 0, 0, 0.7)), url(img/pexels-cottonbro-4429333.jpg);
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.heading {
    position: absolute;
    font-weight: 100;
    color: #ffffff;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-weight: 300;
}

/***************************** CONTENT ***************************/

.heading-2 {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

h2 {
    font-weight: 300;
    margin-bottom: 1rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card-container div {
    width: 30%;
    text-align: center;
}

i {
    font-size: 600%;
    color: #c81919;
    margin-bottom: 1rem;
}

h6 {
    font-size: 300%;
    font-weight: 300;
    margin-bottom: 1rem;
}

.card-container p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}